export(dlcross, dlmap.asreml, dlmap.lme, ngen, nmrk, nphen, profileplot)
S3method(plot, dlcross)
S3method(plot, dlmap)
S3method(profileplot, dlmap)
S3method(print, dlcross)
S3method(print, dlmap)
S3method(summary, dlcross)
S3method(summary, dlmap)
S3method(ngen, dlcross)
S3method(ngen, dlmap)
S3method(nphen, dlcross)
S3method(nphen, dlmap)
S3method(nmrk, dlcross)
S3method(nmrk, dlmap)
